/* *{
    padding: 0;
    margin: 0;
} */
body{


    background-image: url("../imagenes/wallpaper.jpg");
    background-repeat: no-repeat;
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;

}
@font-face {
    font-family: 'Action-Jackson';
    src:url('../fonts/webfonts_Action-Jackson/Action-Jackson.ttf.woff') format('woff'),
        url('../fonts/webfonts_Action-Jackson/Action-Jackson.ttf.svg#Action-Jackson') format('svg'),
        url('../fonts/webfonts_Action-Jackson/Action-Jackson.ttf.eot'),
        url('../fonts/webfonts_Action-Jackson/Action-Jackson.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
h1,h2{
    font-family: 'Action-Jackson';
    text-align: center;
    font-size: 40px;
    background:rgba(103, 245, 190, 0.5);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 1px;

}
h2{
    font-size: 30px;
    padding: 0;
    /* margin: auto; */
    width: 200px;
    height: 30px;
 
}
header{
    background: gainsboro;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    
}
.ingresa-nombre{
    
    width: 400px;
    height: 25px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    margin: auto;
    margin-top: 50px;
}
section div{
    width: 600px;
    height: 25px;
    display: flex;
    justify-content: center;
    margin: auto;
    /* display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: auto;
    margin-top: 50px;
    background: red; */

}
.avatar{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.avatar img{
    width: 100px;
}


img{
    border-radius: 15px;
    width: 200px;
    margin: auto;
}
[class^="icon-"]{

    font-size: 40px;
    
}
.icon-arrow-circle-right{
    color:green;
}
.icon-arrow-circle-right:hover{
    color:red;
}
input[type="text"]{
    border-radius: 15px;
    font-size: 20px;
}
button{


    cursor: pointer;
    padding: 5px;
    border-radius:15px;
    line-height: 10px;
}

button:hover{

    transition:all 2s  ease .8s;
    transform: scale(1.2) rotateY(360deg);

}

section div input[type="radio"]{
    width: 100px;
    height: 25px;
}

/* <-----------------------------> */
.crono{
    width: 150px;
    border-radius: 15px;
    /* margin: auto; */
    /* background: rgb(219, 219, 219); */
    display: flex;
    justify-content: center;
}
.contenedor{

    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contenedor div{
    margin-top: 0px;
    
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: row;
   
    
}
nav{
    flex-basis: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    
}
nav a button{
    margin-right: 10px;
    font-size: 30px;
    color: blueviolet;
}
nav a:hover::before {
    background: aquamarine;
    text-align: center;
    width: 150px;
    height: 40px;
    position: absolute;
    top:50px;
    
    border-radius: 20px;
    
    font-size: 20px;
    font-weight: 600;
}
nav #b-1:hover::before {
    content: 'Pausar juego';
    right: 100px;
}
nav #b-2:hover::before {
    content: 'Reanudar juego';
    right: 50px;
}
nav #b-3:hover::before {
    content: 'Salir del juego';
    right: 25px;
}
nav #b-4:hover::before {
    content: 'Información del juego';
    right: 10px;
    height: 60px;
}
a{
    text-decoration: none;
    display: flex;
    align-items: stretch;
}
section span{
    font-size: 25px;
}
.habitat{
    
    width: 150px;
    height: 200px;
    border: 10px solid white;
    border-radius: 50%;
    margin-right: 20px;
    

}
.animation{


    animation: vibra;
    animation-duration: 0.12s;
    animation-iteration-count: 5;

}
@keyframes vibra{

    0%{
        transform: rotate(15deg);
    }
    /* 50%{
        transform: rotate(0deg);
    } */
    100%{
        transform: rotate(-15deg);
    }

}
.brilla{

    box-shadow: 0 0 20px antiquewhite, 0 0 40px antiquewhite, 0 0 80px antiquewhite;
}