body{
    background-image: url('../imagenes/win.jpg');
    background-size: 100vw 100vh;
    background-attachment: fixed;
}
#contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

div{
    text-align: center;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#frase > p{
    font-size: 25px;
    width: 80%;
    margin-left: 10%;
}


#parraf{
    font-family: 'Consolas';
    color: rgb(161, 1, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

.btn{
    width: 120px;
    height: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 5px;
}

.btn{
    cursor: pointer;
}